* {
    /* outline: solid rgb(185, 42, 42); */
}

body { 
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 3fr 15fr 1fr;
}


/* styling for the top section */
.title {
    color: white;
    font-family: 'Agbalumo';
}

.top { 
    background-color: rgb(35, 35, 35);
    font-size: 50px;
    display: flex;
    align-items: end;
    padding: 1rem;
}

#logo {
    height: 100px; 
    width: 100px;
    background-size: cover;
}



/* styling for the middle section */

.middle{ 
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* styling for the left middle section */

.left {
    background-color:rgb(200, 200, 200) ;
}

#icon {
    height: 40px;
    width: 40px;
    margin: 0px 10px 0px 0px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    padding: 5px;
}

.nav-item:hover {
    background-color: rgb(175, 175, 175);
}

.nav{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    padding: 20px;


}

.projects-nav {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}

#create-project-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    
}

#create-project-form > *{
    border-radius: 10px;
    background-color:rgb(240, 240, 240) ;

}

/* styling for the right middle section */

.right { 
    padding: 5% 10%;
}

.taskCard {  
    border-radius: 10px;
    background-size: cover;
    display: grid;
    grid-template-columns: 50px 10fr 1fr 1fr;
    gap: 1em;
    font-family: 'Roboto';
    margin: 1em 0px 1em 0px;
    align-items: center;
    border: 0.5px solid rgb(200, 200, 200);
    padding: 1% 3%;
    height: 70px; 
}

.taskCard:hover, #create-task:hover  {
    background-color: rgb(240, 240, 240);
}

#create-task {  
    border-radius: 10px;
    background-size: cover;
    display: flex;
    /* grid-template-columns: 50px 200px; */
    gap: 1em;
    font-family: 'Roboto';
    margin: 1em 0px 1em 0px;
    align-items: center;
    border: 0.5px solid rgb(200, 200, 200);
    padding: 1% 3%;
    height: 70px; 
}

#create-task-form {
    display: grid;
    grid-template-columns: 8fr 2fr 1fr 1fr;
    gap: 1em;
}

#create-task-form > * {
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
}

#input1 {
    padding: 2px;
}

.box-header {
    font-weight: 600;
}

.emptyCheck, .plus {

    height: 50px;
    width: 50px;

}



/* styling for the bottom section */

.bottom {
    display: flex;
    background-color: rgb(35, 35, 35);
    justify-content: center;
    align-items: center;
}

.sig {
    color: white;
    margin-right: 5px;
    font-family: 'Roboto';
}

#git {
    height: 30px;
    width: 30px;
}






